/* 
    Document   : main.riportal
    Created on : 05/12/2011, 06:57:01 PM
    Author     : asanabria
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

#header {
    width: 100%;
    height: 150px;
    margin: auto;
    background-image: url("../images/fondo.png");
    background-repeat: no-repeat;
    background-position: center;
}

#content{
    width: 100%;
    text-align: center;
    margin: auto;
}

#searchInput { 
    width: 50%;
    height: 35px;
}

#searchButton {
    text-align: center;
    margin-top: 15px;
    font-size: xx-large;
    color: #FA6900;
}

#searchButton a {
    color: #FA6900;
}

#quantity div {
    height: 30px;
    text-align: right;
    color: #F38630;
}

#results div a {
    color: #F38630;
    font-size: larger;
    font-weight: bold;
}

#resultsPanel{
    width: 100%;
    text-align: center;
    margin: auto;
}

#results{
    width: 80%;
    text-align: left;
    margin: auto;
}

#results div{
    height: 100px;
    margin-top: 15px;
    -moz-border-radius: 12px;
}

#results table {
    margin-left: 30px;
    color: #76732E ;
}

#results div p {
    margin-left: 30px;
    color: white;
}

#footer{
    width: 100%;
    height: 15px;
    text-align: center;
    margin: auto;
}

